---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('October 23, 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hello there! I'm Rufus Reed, a computer science student currently studying at the University of Leicester. in the past my focus has been on software and programming, particularly game development, but recently I've been expanding my horizons into electronics as well. I decided to start this blog to show my journey as a complete beginner to electronics, in the hopes that someone may find it interesting or educational, as well as for me to be able to look back on my progress.
	</p>
</Layout>
