---
import githubIcon from '../assets/github.png';
import website from '../assets/world-wide-web.png';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Rufus Reed. All rights reserved.
	<div class="social-links">
			<a href="my portfolio site" target="_blank">
				<span class="sr-only">Go to my personal website</span>
				<img src={website.src} aria-hidden="true" width="24" height="24"
				>
			</a>
			<a href="https://github.com/NullVoyager47" target="_blank">
				<span class="sr-only">Go to my GitHub page</span>
				<img src={githubIcon.src} aria-hidden="true" width="24" height="24"
				>
			</a>
		</div>
</footer>
<style>
	footer {
		padding: 1em 1em 1.5em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 0.8em;
		margin-top: 0.8em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
