---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';

import githubIcon from '../assets/github.png';
import website from '../assets/world-wide-web.png';
---

<header>
	<nav>
		<h2><a href="/BlogWebsite">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/BlogWebsite/">Home</HeaderLink>
			<HeaderLink href="/BlogWebsite/blog">Blog</HeaderLink>
			<HeaderLink href="/BlogWebsite/projects">Projects</HeaderLink>
			<HeaderLink href="/BlogWebsite/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="my portfolio site" target="_blank">
				<span class="sr-only">Go to my personal website</span>
				<img src={website.src} aria-hidden="true" width="24" height="24"
				>
			</a>
			<a href="https://github.com/NullVoyager47" target="_blank">
				<span class="sr-only">Go to my GitHub page</span>
				<img src={githubIcon.src} aria-hidden="true" width="24" height="24"
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.7em 0.4em;
		color: var(--black);
		border-bottom: 3px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
